// out: ./styles.css, sourcemap: false, compress: false
@blue: darkblue;
@red: red;
@green: darkgreen;
@grey: lightgrey;
@black: black;
@white: white;
@fontLora: 'Lora', serif;
@fontBad: 'Bad Script', cursive;
@fontOpen: 'Open Sans Condensed', serif;
@fontPlayfair: 'Playfair Display', serif;

@keyframes green-button {
  0% {
    background-color: @green;
  }
  100% {
    background-color: @white; color: @black;
  }
}
@keyframes red-button {
  0% {
    background-color: @red;
  }
  100% {
    background-color: @white; color: @black;
  }
}
@keyframes blue-button {
  0% {
    background-color: @blue;
  }
  100% {
    background-color: @white; color: @black;
  }
}
@keyframes grey-button {
  0% {
    background-color: @grey;
  }
  100% {
    background-color: @white;
  }
}
@keyframes black-button {
  0% {
    background-color: @black;
  }
  100% {
    background-color: @white; color: @black;
  }
}
@keyframes white-button {
  0% {
    background-color: @white;
  }
  100% {
    background-color: @black; color: @white;
  }
}
.citation {
  font-family: @fontBad;
}
.classhr {
  border-top: 1px solid @black;
  width: 90%;
  margin-top: 5%;;
}
.black-border {
  border: 1px solid @black;
}
.red-border {
  border: 1px solid @red;
}
.green-border {
  border: 1px solid @green;
}
.blue-border {
  border: 1px solid @blue;
}
.white-border {
  border: 1px solid @white;
}
.grey-border {
  border: 1px solid @grey;
}
.allArticle {
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  margin-top: 15px;
  flex-wrap: wrap;
}
.button-green {
  width: 30%;
  height: 15%;
  background-color: @green;
  border-color: @black;
  border-width: 1px;
  border-radius: 15px;
  margin: 5%;
  color: @white;
}
.button-green:hover {
  animation-name: green-button;
  background-color: @white;
  color: @black;
  animation-duration: 1s;
}
.button-black {
  width: 30%;
  height: 15%;
  background-color: @black;
  border-color: @white;
  border-width: 1px;
  color: white;
  border-radius: 15px;
  margin: 5%;
}
.button-black:hover {
  animation-name: black-button;
  background-color: @white;
  color: @black;
  animation-duration: 1s;
}
.button-blue {
  width: 30%;
  height: 15%;
  background-color: @blue;
  border-color: @black;
  border-width: 1px;
  border-radius: 15px;
  margin: 5%;
  color: @white;
}
.button-blue:hover {
  animation-name: blue-button;
  background-color: @white;
  color: @black;
  animation-duration: 1s;
}
.button-red {
  width: 30%;
  height: 15%;
  background-color: @red;
  border-color: @black;
  border-width: 1px;
  border-radius: 15px;
  margin: 5%;
  color: @white;
}
.button-red:hover {
  animation-name: red-button;
  background-color: @white;
  color: @black;
  animation-duration: 1s;
}
.button-grey {
  width: 30%;
  height: 15%;
  background-color: @grey;
  border-color: @black;
  border-width: 1px;
  border-radius: 15px;
  margin: 5%;
}
.button-grey:hover {
  animation-name: grey-button;
  background-color: @white;
  color: @black;
  animation-duration: 1s;
}
.button-white {
  width: 30%;
  height: 15%;
  background-color: @white;
  border-color: @black;
  border-width: 1px;
  border-radius: 15px;
  margin: 5%;
}
blockquote{
  margin: 10%;
}
.button-hover {
  width: 30%;
  height: 15%;
  background-color: @white;
  border-color: @black;
  border-width: 1px;
  border-radius: 15px;
  margin: 5%;
}
.button-grey:hover {
  animation-name: white-button;
  background-color: @black;
  color: @white;
  animation-duration: 1s;
}
.article-body-red {
  .red-border;
  width: 300px;
  min-width: 200px;
  height: 50%;
  color: @red;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: @fontLora;
  margin: 1%;
  min-height: 500px;
}
.article-body-red img {
  width: 70%;
}
.article-body-red p {
  text-align: : center;
  padding: 10%;
}
.article-body-green {
  .green-border;
  width: 300px;
  min-width: 200px;
  height: 50%;
  color: @green;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: @fontLora;
  margin: 1%;
  min-height: 500px;
}
.article-body-green img {
  width: 70%;
}
.article-body-green p {
  text-align: : center;
  padding: 10%;
}
.article-body-blue {
  .blue-border;
  width: 300px;
  min-width: 200px;
  height: 50%;
  color: @blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: @fontLora;
  margin: 1%;
  min-height: 500px;
}
.article-body-blue img {
  width: 70%;
}
.article-body-blue p {
  text-align: : center;
  padding: 10%;
}
.article-body-grey {
  .grey-border;
  width: 300px;
  min-width: 200px;
  height: 50%;
  color: @grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: @fontLora;
  margin: 1%;
  min-height: 500px;
}
.article-body-grey p {
  text-align: : center;
  padding: 10%;
}
.article-body-grey img {
  width: 70%;
}
.slider {
  width: 44vw;
  height: 44vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.hidden {
  display: none;
}
.slider img {
  width: 44vw;
  height: 44vh;
}

.article-body-black {
  .black-border;
  width: 20%;;
  height: 50%;
  color: @black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: @fontLora;
  margin: 1%;
  min-height: 500px;
}
.article-body-black p {
  text-align: : center;
  padding: 10%;
}
.article-body-black img {
  width: 70%;
}
.article-body-white {
  .white-border;
  width: 20%;;
  height: 50%;
  color: @white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: @fontLora;
  margin: 1%;
}
.article-body-white p {
  text-align: : center;
  padding: 10%;
  min-height: 500px;
}
.article-body-white img {
  width: 70%;
}
.article-body p {
  text-align: center;
}
.article-body button {
  margin-bottom: 5px;
}
.title-article {
  text-align: center;
}
.button-white:hover {
  animation-name: white-button;
  animation-duration: 1s;
}
.flex-container-full {
  display: flex;
  margin: 0;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
}
.flex-container-medium {
  display: flex;
  margin: 0 auto;
  width: 75vw;
  height: 75vh;
}
.flex-container-small {
  display: flex;
  margin: 0 auto;
  width: 50vw;
  height: 50vh;
}
.menu-vertical{
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: @fontOpen;
}
.hidden {
  display: none;
}
.menu-vertical ul li {
  list-style: none;
  padding-top: 20%;
}
.menu-vertical ul {
  list-style: none;
  border-top: 1px solid @black;
  padding-left: 0;
}
.menu-vertical img {
  width: 50%;
  height: 10%;
  border-radius: 100%;
}
.menu-vertical ul li a {
  text-decoration: none;
}
.menu-vertical ul li:hover a {
  background-color: @white;
  color: @black;
}
.menu-vertical ul li a:visited{

}
.body80 {

}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.on {
  background-image: url('./images/background.jpg');
  background-repeat: repeat;
}
.color-black {
  color: @black;
}
.color-red {
  color: @red;
}
.color-green {
  color: @green;
}
.color-blue {
  color: @blue;
}
.color-grey {
  color: @grey;
}
.color-white {
  color: @white;
}
.bg-black {
  background-color: @black;
}
.bg-blue {
  background-color: @blue;
}
.bg-red {
  background-color: @red;
}
.bg-green {
  background-color: @green;
}
.bg-grey {
  background-color: @grey;
}
.bg-white {
  background-color: @@white;
}
.bg-size-small {
  background-size: 50%;
}
.bg-size-medium {
  background-size: 75%;
}
.bg-size-full {
  background-size: cover;
}
.bg-center {
  background-position: center;
  width: 100%;
}
.bg-right {
  background-position: right;
}
.bg-left {
  background-position: left;
}
.artiste-blue {
  color: @blue;
  font-family: @fontOpen;
}
.artiste-red {
  color: @red;
  font-family: @fontOpen;
}
.artiste-green {
  color: @green;
  font-family: @fontOpen;
}
.artiste-grey {
  color: @grey;
  font-family: @fontOpen;
}
.artiste-white {
  color: @grey;
  font-family: @fontOpen;
}
.title{
  text-align: center;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.article {
  width: 50%;
}
